version: '3.3'

# Build directory structure:
#
# ~/docker
#   docker-compose.yml
#   README.md
#
#   home-assistant/
#
#   plex/
#
#   traefik/
#     duckDNSToken
#     acme/
#       acme.json  # cert location that needs to be touched an 600 permissions set
#
# Ports 48130-48555, 48620-48652 are all unassigned according to iana.org...
# https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=unassigned
#
# Ports used by containers:
#   Syncthing:
#     System    Internal  Service
#     8384 -->  8384      Syncthing
#   Traefik:
#     System    Internal  Service
#     80 -->    80        HTTP
#     443 -->   443       HTTPS
#     8080 -->  8080      Traefik frontend
#   HomeAssistant:
#     System    Internal  Service
#     8213 -->  8123      HomeAssistant frontend
#   GitLab:
#     System    Internal  Service
#     48620 --> 80        HTTP
#     48621 --> 443       HTTPS
#     48622 --> 22        SSH
#
# Environment Variables (stored in .env)
#   - MYDIR = /path/to/working/directory
#   - WEBSITE = mysite.example.com
#   - EMAIL = me@example.com

# --------------------------------------------------------
# Defining all of the different Applications that will run
# --------------------------------------------------------
services:
  # ----------------------------
  # Setting up the reverse proxy
  # ----------------------------
  traefik:
    container_name: traefik  # The name to call the created image
    image: traefik:v2.1  # The official v2 Traefik docker image source
    restart: always
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.ssh.address=:2222"
      - "--entrypoints.http.forwardedHeaders.trustedIPs=127.0.0.1/31, 192.168.1.55/24"
      #- "--entrypoints.http.proxyProtocol=true"
      #- "--entrypoints.http.proxyProtocol.trustedIPs=127.0.0.1/31, 192.168.1.55/24"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.myresolver.acme.email=${EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/traefik/acme/acme.json"
      - "--log=true"
      - "--log.level=DEBUG"  # (Default: error) DEBUG, INFO, WARN, ERROR, FATAL, PANIC
      - "--log.filePath=/traefik/traefik.log"
      # - "--providers.file.filename=traefik/traefik-config.yml"
      # - "--providers.file.watch=true"
    environment:
      - "DUCKDNS_TOKEN_FILE=/traefik/duckDNSToken"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "${MYDIR}/traefik:/traefik"
    networks:
      - default
    network_mode: bridge
    ports:  # This long port section requires docker-compose version 3.2+
      # The SSH Port
      - target: 2222
        published: 2222
        protocol: tcp
        mode: host
      # The HTTP port
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      # The HTTPS port
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    labels:
      # Dashboard
      - "traefik.http.routers.traefik.rule=Host(`api.${WEBSITE}`)"  # These ` are backticks, NOT single quotes '
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=admin"
      - "traefik.http.routers.traefik.tls.certresolver=myresolver"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.middlewares.admin.basicauth.usersfile=/traefik/.htpasswd"
      # middleware redirect
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      # global redirect to https
      - "traefik.http.routers.redirs.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.redirs.entrypoints=web"
      - "traefik.http.routers.redirs.middlewares=redirect-to-https"

  # ------------------------------------
  # Setting up the Home-Assistant server
  # ------------------------------------
  homeassistant:
    container_name: homeassistant  # The name to call the image
    image: homeassistant/home-assistant:stable  # The source of the container
    restart: always  # Sets the container to restart whenever it stops/crashes
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      - TZ=America/New_York
    volumes:
      - /Pool1-Working/Applications/HomeAutomation:/config
    network_mode: bridge
    ports:
      - '8123:8123'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homeassistant.tls=true"
      - "traefik.http.routers.homeassistant.tls.certresolver=myresolver"
      - "traefik.http.routers.homeassistant.rule=Host(\"hass.${WEBSITE}\")"
      # - "traefik.http.routers.homeassistant.service=homeassistant@docker"
      # - "traefik.http.routers.homeassistant.rule=Path('/hass')"
      - "traefik.http.routers.homeassistant.entrypoints=websecure"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"


  # ------------------------
  # Setting up GitLab Server
  # ------------------------
  GitLab:
    container_name: gitlab  # The name to call the image
    image: 'gitlab/gitlab-ce:latest'  # The source of the container
    restart: always  # Sets the container to restart whenever it stops/crashes
    # hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # external_url 'http://192.168.1.55:48620'
        # gitlab_rails['gitlab_shell_ssh_port'] = 48622
        # nginx['enable'] = true
        # nginx['redirect_http_to_https'] = false
        # nginx['listen_port'] = 80
        # nginx['listen_https'] = false
        # Add any other gitlab.rb configuration here, each on its own line
    volumes:
      - '/Pool1-Working/Applications/GitLab/config:/etc/gitlab'
      - '/Pool1-Working/Applications/GitLab/logs:/var/log/gitlab'
      - '/Pool1-Working/Applications/GitLab/data:/var/opt/gitlab'
    ports:
      - '48620:80'  # Unassigned port to internal port
      - '48621:443'  # Unassigned port to internal port
      - '48622:22'  # Unassigned port to internal port
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.tls=true"
      - "traefik.http.routers.gitlab.tls.certresolver=myresolver"
      - "traefik.http.routers.gitlab.rule=Host(\"gitlab.${WEBSITE}\")"
      # - "traefik.http.routers.gitlab.service=gitlab@docker"
      # - "traefik.http.routers.gitlab.rule=Path('/gitlab')"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.services.gitlab.loadbalancer.server.port=48620"
      - "traefik.tcp.routers.gitlab-ssh.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.gitlab-ssh.entrypoints=ssh"
      - "traefik.tcp.routers.gitlab-ssh.service=gitlab-ssh-svc"
      - "traefik.tcp.services.gitlab-ssh-svc.loadbalancer.server.port=48662"
