version: '3'

# --------------------------------------------------------
# Defining all of the different Applications that will run
# --------------------------------------------------------
services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:stable
    volumes:
      - /Pool1-Working/Applications/HomeAutomation:/config
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      - TZ=America/New_York
    restart: always
    network_mode: host
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.home-assistant.rule=Host('localhost:8123')"
      - "traefik.http.routers.home-assistant.entrypoints=8123"
      - "traefik.http.routers.home-assistant.tls.certresolver=myresolver"

  # Setting up the reverse proxy
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.1
    # Enables the web UI and tells Traefik to listen to docker
    command: 
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.myresolver.acme.email=z28blackpearl@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=acme.json"
      #- "--providers.file.filename=~/docker/traefik/traefik.yml"
      #- "--providers.file.watch=true"
    ports:
      # The HTTP port
      - "80:80"
      # The HTTPS port
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    environment:
      - "DUCKDNS_TOKEN_FILE=~/docker/traefik/duckDNSToken"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
